:root {
    --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-serif: Georgia, serif;
    --font-special: Condensed, Helvetica, sans-serif;
    --font-mono: Courier, Courier New, monospace;
    /* --color-dark: #070707; */
    --color-dark: #2f2f5f;
    --color-darkish: #404040;
    --color-lightish: #d5d5d5;
    /* --color-light: #e6e6e6; */
    --color-light: #aaf;
    --color-mid: grey;
    --ratio: 1.4;
    --s-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
    --s-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
    --s-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
    --s-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
    --s-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
    --s0: clamp(1rem, 1rem + 0vw, 1rem);
    --s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
    --s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
    --s3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
    --s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
    --s5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);
    --measure: 65ch;
    --line-height: var(--ratio);
    --line-height-small: calc(0.8*var(--ratio));
    --border-thin: calc(var(--s-5) / 10);
    --border-thick: var(--s-2);
    line-height: var(--ratio);
    font-size: calc(.333vw + 1em);
    font-family: var(--font-plain);
    background-color: var(--color-dark);
    color: var(--color-light);
}

*,
:after,
:before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

body {
    margin: var(--s1);
}

[hidden] {
    display: none;
}

[hidden]+* {
    margin-top: 0 !important;
}

footer,
header,
main,
nav {
    display: block;
}

@media (prefers-reduced-motion:no-preference) {
    html {
        scroll-behavior: smooth
    }
}

:focus {
    outline: var(--border-thin) solid var(--color-mid);
    outline-offset: var(--border-thin);
}

[tabindex="-1"]:focus,
shrink-grow:focus {
    outline: none
}

button {
    border-color: var(--color-dark)
}

img {
    width: 100%
}

[aria-current=true] noscript {
    padding: var(--s-1);
    background-color: var(--color-darkish)
}

table {
    width: 100%;
    border-collapse: collapse;
    word-break: break-word;
}

table code {
    white-space: nowrap
}

td,
th {
    border-width: var(--border-thin);
    padding: var(--s-1);
    text-align: left
}

td:first-child,
th {
    font-weight: 700;
}

main {
    line-height: 1.5
}

h1,
h2,
h3,
h4 {
    line-height: var(--line-height-small);
    font-family: var(--font-special);
    font-weight: 700;
    hyphens: auto
}

.h1,
h1 {
    font-size: var(--s4);
}

.h2,
h2 {
    font-size: var(--s3)
}

.h3,
h3 {
    font-size: var(--s2)
}

.h4,
h4 {
    font-size: var(--s1)
}

aside>ol,
aside>ul,
main>ol,
main>ul {
    padding-left: 2em
}

main>*+* {
    margin-top: var(--s3)
}

[class^=docs-note] p+p,
main p+p {
    margin-top: var(--s-1)
}

hr {
    padding: var(--border-thin) 0 0;
    border-left-width: 0;
    border-bottom-width: var(--border-thin);
    border-right-width: 0;
    border-top-width: var(--border-thin)
}

button,
pre {
    outline: var(--border-thin) solid transparent;
    outline-offset: calc(var(--border-thin)*-1)
}

body {
    margin: var(--s-4);
    margin-top: var(--s1);
}

main {
    margin-top: var(--s0)
}

.centered {
    text-align: center;
}

.index {
    font-size: var(--s3);
}

.index a {
    padding-inline: var(--s-4);
}

td:first-child.index {
    font-weight: 700;
    font-size: var(--s2);
}

table:first-of-type {
    position: sticky;
    top: 0;
}

h3:target {
    scroll-margin-top: 9em;
}

@media(min-width: 316px) {
    h3:target {
        scroll-margin-top: 7.6em;
    }
}

@media(min-width: 407px) {
    h3:target {
        scroll-margin-top: 6em;
    }
}

@media(min-width: 620px) {
    h3:target {
        scroll-margin-top: 4.4em;
    }
}

@media(min-width: 1558px) {
    h3:target {
        scroll-margin-top: 2.75em;
    }
}

a {
    text-decoration: underline;
}
